@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');

html, body{
  height: 100%;
  background-color: lightgreen;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    }

    #title{
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%);
      width: 500px;
  }

    .utility-buttons{
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      gap: 20px;
    }

    
    #restart{
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%);
      cursor: pointer;
      max-width: 250px;
      border: 2px solid;
      border-color: grey black black grey;
    }


    #start-button{
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%);
      cursor: pointer;
      max-width: 350px;
  }

  #start-button:hover{
    background-color: black;
}

    #end-title{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      font-size: 100px;
    }

    #canvas {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: top left;
      z-index: 0;
  }

      .arrow-button {
        width: 60px;
        height: 60px;
        background-color: transparent;
        color: darkred;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .up {
        top: 10px;
    }

    .down {
        bottom: 10px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .go-back{
      position: absolute;
      background-color: green;
      bottom: 0;
      right: 0;
      cursor: pointer;
      position: fixed;
      text-decoration: none;
      margin-bottom: 5px;
    }

        .arrow-controls {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            margin-bottom: -70px;
            left: 50%;
            transform: translate(-50%);  
        }

        @media(min-width:1111px){
            .arrow-controls{
              display: none;
            }
          }

      #start-button{
        margin-top: 20px;
      }

      #opening-section{
        position: absolute;
        background-image: url('/images/footballO.jpg'); 
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }

      .audio{
        height: 15px;
        margin-top: 21px;
        margin-left: 10px;
    }

    .instruction{
      cursor: pointer;
      position: absolute;
      padding: none;
      display: flex;
      flex-direction: row;
      top: 21px;
      right: 10px;
      color: darkgreen;
  }

  #instructions{
    height: 15px;
}

  .instruction-text{
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.settings{
  cursor: pointer;
  position: absolute;
  padding: none;
  display: flex;
  flex-direction: row;
  color: darkgreen;
  top: 21px;
  left: 50%;
  transform: translate(-50%);
}

#settings{
    height: 15px;
}

#back{
  max-width: 100px;
  margin-top: 5px;
}

.homepage,.back{
  position: absolute;
  right: 50px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 5px;
  background-color: transparent;
  padding: none;
  font-size: large;
  margin-top: 21px;
}

#homepageImg{
  max-width: 150px;
  margin-top: 5px;
}

#instruction-title,#settings-title{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 500px;
}

    .play-music{
      cursor: pointer;
      position: absolute;
      padding: none;
      display: flex;
      flex-direction: row;
      color: darkgreen;
    }

    #volume-icon{margin-top: 20px;}

      #yourScore{
        margin-bottom: 70px;
        margin-left: 10px
      }
      
      .scoreOne, .scoreTwo {
        font-size: 40px;
        font-weight: bold;
      }
      
      #score{
        margin-left: 100px;
      }
      
      #countdown{
        font-size: 50px;
      }
      
      #info{
        float: left;
        position: absolute;
        z-index: 999;
        font-size: 30px;
        font-weight: bolder;
        color: white;
      }

      .full-time {
        background-image: url("../images/referee.gif");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        color: purple;
      }

      .settings-body{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
      }

      .selections{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%);
        display: flex;
        flex-direction: row;
        gap: 200px;
    }
    
    #select-opponent{
        max-width: 500px;   
        max-height: 50px; 
    }
    #select-ball{
        max-width: 400px;
        max-height: 50px;    
    }

      .opponentOneImg,.opponentTwoImg,.opponentThreeImg{
        max-height: 100px !important;
        cursor: pointer;
      }
      .ballOneImg,.ballTwoImg,.ballThreeImg{
        width: 100px !important;
        height: 100px !important;
        cursor: pointer;
    }
    
  .ballImages,.opponentImages{
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .ballImages{
      gap: 10px;
    }
    .opponentImages{
      gap: 50px;

    }
    
    .opponent-checkbox,
    .ball-checkbox {
        display: none;
    }

    .checkmark {
      width: 20px; 
      height: 20px; 
      background-color: red;
      top: 0;
      left: 0;
      display: none;
  }

/* Styles for opponent selection */
.opponents .opponent-checkbox:checked + .opponentOneImg + .checkmark,
.opponents .opponent-checkbox:checked + .opponentTwoImg + .checkmark,
.opponents .opponent-checkbox:checked + .opponentThreeImg + .checkmark {
    display: block;
}

/* Styles for ball selection */
.balls .ball-checkbox:checked + .ballOneImg + .checkmark,
.balls .ball-checkbox:checked + .ballTwoImg + .checkmark,
.balls .ball-checkbox:checked + .ballThreeImg + .checkmark {
    display: block;
}

      @media (max-width: 875px){
        .utility-buttons{
          top: 70%;
        }
      }

      @media (max-width: 610px){
        #canvas {
          width: 100vh; 
          height: 100vw; 
          top: 50%; 
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg); /* Rotate 90 degrees */
          transform-origin: center center;
      }
        .arrow-controls{
          transform: translate(-50%, -50%) rotate(-90deg); /* Rotate 90 degrees */
          transform-origin: center center;
        }
        .back{
          margin-top: 15px;
        }
        .audio,#instructions,#settings  {
          display: none;
      }
      #volume-icon,#setting-icon,#instruction-icon{
        font-size: 50px;
      }
      #info{
        font-size: 20px;
      }
      .homepage{ max-width: 130px;
      }
      #homepageImg{
        max-width: 110px;
      }
  
    }
      
    @media(max-width:500px){
      #title,#instruction-title,#settings-title{
          max-width: 350px;
      }
      #start-button{
        max-width: 250px;
    }
    .homepage{
      right: 20px;
  }
  }

  @media(max-width:450px){
    #volume-icon,#setting-icon{
      font-size: 45px;
    }
    #opening-section{
      display: flex;
    flex-direction: column;
         padding-bottom: 100%;
      }
        #start-button{
          margin-top: 50px;
        }
        .ballImages{
          flex-wrap: wrap;
      }
  }

  @media(max-width:400px){
    #title,#instruction-title,#settings-title{
        max-width: 300px;
    }
    #start-button{
      max-width: 250px;
  }
}

@media(max-width:330px){
  #volume-icon{
    font-size: 40px;
    margin-top: 10px;
  }
  #setting-icon{
    font-size: 40px;
  }
#title,#instruction-title,#settings-title{
  max-width: 250px;
}
.instruction{
  top: 10px;
}
#instruction-icon{
  font-size: 40px;
}
#start-button{
  max-width: 200px;
}
}

@media(max-width:280px){
  #title,#instruction-title,#settings-title{
      max-width: 230px;
  }
  #start-button{
    max-width: 200px;
}
}