@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');

html, body{
  height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    }

    #title{
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%);
      width: 500px;
  }

    .utility-buttons{
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      gap: 20px;
    }

    .try-again-button,.main-menu-button{
        font-family: 'poppins';
        background-color: maroon;
        color: white;
        font-weight: bolder;
        padding: 10px;
        cursor: pointer;
        height: 70px;
    }
    
    #start-button{
        font-family: 'poppins';
        background-color: maroon;
        color: white;
        font-weight: bolder;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        cursor: pointer;
    }

    #start-button:hover,.try-again-button:hover,.main-menu-button:hover{
      background-color: transparent;
      color: green;
    }

    #end-title{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      font-size: 100px;
    }

    #canvas {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transform-origin: top left;
      z-index: 0;
  }

      .arrow-button {
        width: 60px;
        height: 60px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .up {
        top: 10px;
    }

    .down {
        bottom: 10px;
    }

    .left {
        left: 10px;
    }

    .right {
        right: 10px;
    }

    .go-back{
      position: absolute;
      background-color: red;
      bottom: 0;
      right: 0;
      cursor: pointer;
      position: fixed;
      text-decoration: none;
      margin-bottom: 5px;
    }


      @media (max-width: 450px) {
        #opening-section{
        display: flex;
      flex-direction: column;
           padding-bottom: 100%;
        }
          #start-button{
            margin-top: 50px;
          }
      } 

        .arrow-controls {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0%;
            margin-top: -15px;
            left: 50%;
            transform: translate(-50%);  
        }

        @media(min-width:1111px){
            .arrow-controls{
              display: none;
            }
          }

      #start-button{
        margin-top: 20px;
      }

      #opening-section{
        position: absolute;
        background-image: url('/images/footballO.jpg'); 
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }

      .audio{
        height: 15px;
        margin-top: 21px;
        margin-left: 10px;
    }

    .play-music{
      cursor: pointer;
      position: absolute;
      padding: none;
      display: flex;
      flex-direction: row;
      color: red;
    }

    #volume-icon{margin-top: 20px;}

      #yourScore{
        margin-bottom: 70px;
        margin-left: 10px
      }
      
      .scoreOne, .scoreTwo {
        font-size: 40px;
        font-weight: bold;
      }
      
      #score{
        margin-left: 100px;
      }
      
      #countdown{
        font-size: 50px;
      }
      
      #info{
        float: left;
        position: absolute;
        z-index: 999;
        font-size: 30px;
        font-weight: bolder;
        color: white;
      }

      .full-time {
        background-image: url("../images/referee.gif");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        color: purple;
      }

      @media (max-width: 610px){
        #canvas {
          width: 100vh; 
          height: 100vw; 
          top: 50%; 
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg); /* Rotate 90 degrees */
          transform-origin: center center;
      }
        .arrow-controls{
          transform: translate(-50%, -50%) rotate(-90deg); /* Rotate 90 degrees */
          transform-origin: center center;
        }
    }

    @media(max-width:506px){
      .audio  {
        display: none;
    }
    #volume-icon{
      font-size: 50px;
      margin-left: 10px;
    }
    }
      
    @media(max-width:500px){
      #title{
          max-width: 350px;
      }
  }

  @media(max-width:450px){
    #volume-icon{
      font-size: 45px;
    }
  }

  @media(max-width:400px){
    #title{
        max-width: 300px;
    }
}

@media(max-width:330px){
  #volume-icon{
    font-size: 40px;
    margin-top: 10px;
  }
#title{
  max-width: 250px;
}
}

@media(max-width:280px){
  #title{
      max-width: 230px;
  }
}